In [1]:
import pandas as pd
import sidetable
pd.options.display.max_columns = None
import sqlalchemy as alch
from getpass import getpass # sistema seguro para gestión de contraseñas

In [2]:
hosts = pd.read_csv('/Users/fernandoseguias/Desktop/ferseg/Proyectos/Programacion/iron_hack/project_2/data/listings_detailed.csv')
hosts = hosts.loc[:,['host_id', 'host_name', 'host_since', 'host_is_superhost']]
hosts.drop_duplicates(subset=['host_id'], keep='first', inplace=True)
hosts

         host_id     host_name  host_since host_is_superhost
0          13660         Simon  2009-04-16                 f
1          83531         Abdel  2010-02-21                 f
2          82175         Jesus  2010-02-17                 f
3      346366726             A  2020-05-15                 f
4         114340      Agustina  2010-04-27                 f
...          ...           ...         ...               ...
17816  434926832  Gloria Edhit  2021-12-06                 f
17817  338747105        Sergio  2020-02-25                 f
17819  155612092      Patricia  2017-10-21                 f
17824  434269899        Andrés  2021-12-01                 f
17825  435062286        Thomas  2021-12-07                 f

[10042 rows x 4 columns]

In [3]:
password = getpass("Contraseña de MySQL: ")
db_name = "airbnb"
conexion = f"mysql+pymysql://root:{password}@localhost/{db_name}"
engine = alch.create_engine(conexion)

In [6]:
for index, row in hosts.iterrows():
    engine.execute(f"""INSERT INTO hosts (idhosts, host_since, host_is_superhost, host_name) VALUES ("{row['host_id']}","{row["host_since"]}","{row["host_is_superhost"]}","{row["host_name"]}");""")