In [9]:
import pandas as pd
import sidetable

In [8]:
reviews_detailed = pd.read_csv('/Users/fernandoseguias/Desktop/ferseg/Proyectos/Programacion/iron_hack/project_2/data/reviews_detailed.csv')
reviews_detailed = reviews_detailed.dropna(axis=0, subset=['comments'])
reviews_detailed

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,6369,29428,2010-03-14,84790,Nancy,Simon and Arturo have the ultimate location in...
1,6369,31018,2010-03-23,84338,David,Myself and Kristy originally planned on stayin...
2,6369,34694,2010-04-10,98655,Marion,We had a great time at Arturo and Simon's ! A ...
3,6369,37146,2010-04-21,109871,Kurt,I very much enjoyed the stay. \r<br/>It's a w...
4,6369,38168,2010-04-26,98901,Dennis,Arturo and Simon are polite and friendly hosts...
...,...,...,...,...,...,...
643877,53657895,511361906785482251,2021-12-06,78214640,Benjamín,It’s a nice place very quiet and the room is v...
643878,53661767,512096358276409361,2021-12-07,399945047,Lautaro,"Excelente ubicación, estudio muy cómodo para 2..."
643879,53666333,512142969091765839,2021-12-07,434724133,Diego,"Todo fantástico todo a estrenar, Ubicación y t..."
643880,53666880,512072680822325245,2021-12-07,105979729,Alberto,Muy bien todo. Limpio y cómodo. Buena comunica...
643881,53682734,512121098160954559,2021-12-07,404922737,Luis,"Muy cómodo y acogedor, las instalaciones son n..."