In [1]:
import pandas as pd
import geopandas as gpd
import numpy as np
import sidetable
pd.options.display.max_columns = None

In [18]:
apartments = pd.read_csv('/Users/fernandoseguias/Desktop/ferseg/Proyectos/Programacion/iron_hack/project_2/data/listings_detailed.csv')
apartments = apartments.loc[:,['id', 'listing_url', 'picture_url', 'name', 'description', 'host_id', 
                    'host_since', 'host_is_superhost', 'neighbourhood_cleansed', 
                    'neighbourhood_group_cleansed', 'latitude', 'longitude', 'room_type', 
                    'accommodates', 'price', 'availability_365', 'number_of_reviews', 'review_scores_rating']]
apartments['description'] = apartments['description'].str.replace('"','')
apartments['name'] = apartments['name'].str.replace('"','')
apartments.head(3)

,id,listing_url,picture_url,name,description,host_id,host_since,host_is_superhost,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,room_type,accommodates,price,availability_365,number_of_reviews,review_scores_rating
0,6369,https://www.airbnb.com/rooms/6369,https://a0.muscache.com/pictures/683224/4cc318...,"Rooftop terrace room , ensuite bathroom",Excellent connection with the AIRPORT and EXHI...,13660,2009-04-16,f,Hispanoamérica,Chamartín,40.45724,-3.67688,Private room,2,$59.00,149,81,4.88
1,21853,https://www.airbnb.com/rooms/21853,https://a0.muscache.com/pictures/68483181/87bc...,Bright and airy room,We have a quiet and sunny room with a good vie...,83531,2010-02-21,f,Cármenes,Latina,40.40381,-3.74130,Private room,1,$31.00,131,33,4.58
2,23001,https://www.airbnb.com/rooms/23001,https://a0.muscache.com/pictures/58e6a770-509c...,Apartmento Arganzuela- Madrid Rio,"Apartamento de tres dormitorios dobles, gran s...",82175,2010-02-17,f,Legazpi,Arganzuela,40.38840,-3.69511,Entire home/apt,6,$50.00,311,0,NaN

In [3]:
apartments.dtypes

id                                int64
listing_url                      object
picture_url                      object
name                             object
description                      object
host_id                           int64
host_since                       object
host_is_superhost                object
neighbourhood_cleansed           object
neighbourhood_group_cleansed     object
latitude                        float64
longitude                       float64
room_type                        object
accommodates                      int64
price                            object
availability_365                  int64
number_of_reviews                 int64
review_scores_rating            float64
dtype: object

In [4]:
apartments.columns

Index(['id', 'listing_url', 'picture_url', 'name', 'description', 'host_id',
       'host_since', 'host_is_superhost', 'neighbourhood_cleansed',
       'neighbourhood_group_cleansed', 'latitude', 'longitude', 'room_type',
       'accommodates', 'price', 'availability_365', 'number_of_reviews',
       'review_scores_rating'],
      dtype='object')

In [5]:
apartments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17831 entries, 0 to 17830
Data columns (total 18 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            17831 non-null  int64
 1   listing_url                   17831 non-null  object
 2   picture_url                   17830 non-null  object
 3   name                          17828 non-null  object
 4   description                   17007 non-null  object
 5   host_id                       17831 non-null  int64
 6   host_since                    17823 non-null  object
 7   host_is_superhost             17823 non-null  object
 8   neighbourhood_cleansed        17831 non-null  object
 9   neighbourhood_group_cleansed  17831 non-null  object
 10  latitude                      17831 non-null  float64
 11  longitude                     17831 non-null  float64
 12  room_type                     17831 non-null  object
 13  accommodates                  17831 non-null  int64
 14  price                         17831 non-null  object
 15  availability_365              17831 non-null  int64
 16  number_of_reviews             17831 non-null  int64
 17  review_scores_rating          13677 non-null  float64
dtypes: float64(3), int64(5), object(10)
memory usage: 2.4+ MB

In [6]:
apartments.describe(include='object').T

,count,unique,top,freq
listing_url,17831,17831,https://www.airbnb.com/rooms/6369,1
picture_url,17830,17455,https://a0.muscache.com/pictures/79f1e0f0-9491...,15
name,17828,17227,"Madrid Center: Puerta del Sol, Tirso de Molina",18
description,17007,15858,Disfruta de la sencillez de este alojamiento t...,34
host_since,17823,3274,2020-11-30,199
host_is_superhost,17823,2,f,14217
neighbourhood_cleansed,17831,128,Embajadores,2190
neighbourhood_group_cleansed,17831,21,Centro,8126
room_type,17831,4,Entire home/apt,10846
price,17831,591,$25.00,408

In [7]:
apartments.describe().T

,count,mean,std,min,25%,50%,75%,max
id,17831.0,3.164435e+07,1.519928e+07,6369.000000,1.947884e+07,3.448713e+07,4.441193e+07,5.372922e+07
host_id,17831.0,1.386539e+08,1.293288e+08,7952.000000,2.652194e+07,9.901898e+07,2.317749e+08,4.350623e+08
latitude,17831.0,4.042100e+01,2.241219e-02,40.316761,4.040954e+01,4.041962e+01,4.042994e+01,4.053623e+01
longitude,17831.0,-3.694158e+00,2.817123e-02,-3.836250,-3.707620e+00,-3.701180e+00,-3.686350e+00,-3.544844e+00
accommodates,17831.0,3.129437e+00,1.975044e+00,0.000000,2.000000e+00,2.000000e+00,4.000000e+00,1.600000e+01
availability_365,17831.0,1.482445e+02,1.398480e+02,0.000000,0.000000e+00,1.040000e+02,3.080000e+02,3.650000e+02
number_of_reviews,17831.0,3.611026e+01,6.887503e+01,0.000000,1.000000e+00,7.000000e+00,3.800000e+01,7.670000e+02
review_scores_rating,13677.0,4.574656e+00,7.046924e-01,0.000000,4.500000e+00,4.750000e+00,4.930000e+00,5.000000e+00

In [8]:
apartments.duplicated().sum()

0

In [9]:
missing = apartments.stb.missing()
missing = missing.loc[missing['percent'] > 0]
missing

                      missing  total    percent
review_scores_rating     4154  17831  23.296506
description               824  17831   4.621165
host_since                  8  17831   0.044866
host_is_superhost           8  17831   0.044866
name                        3  17831   0.016825
picture_url                 1  17831   0.005608

In [10]:
type(apartments.iloc[17830]['review_scores_rating'])

numpy.float64

In [11]:
apartments['id'].loc[apartments['number_of_reviews'] == 0].count() #numero de apartamentos que tienen 0 reviews

4154

In [12]:
id = apartments['id'].unique()
len(id) #id to be set as index

17831

In [13]:
types = apartments['room_type'].unique() #diferentes tipos de apartamentos
types

array(['Private room', 'Entire home/apt', 'Shared room', 'Hotel room'],
      dtype=object)

In [14]:
print(apartments.loc[apartments['id'] == 47957]['description'])

9    <b>The space</b><br />Totally remodeled modern...
Name: description, dtype: object

In [15]:
apartments.iloc[321]

id                                                                        1039376
listing_url                                  https://www.airbnb.com/rooms/1039376
picture_url                     https://a0.muscache.com/pictures/01fb305a-6b2b...
name                                           Cozy apartment near Madrid airport
description                     <b>The space</b><br />1 bedroom flat, 35 sq me...
host_id                                                                   5722524
host_since                                                             2013-04-01
host_is_superhost                                                               f
neighbourhood_cleansed                                 Casco Histórico de Barajas
neighbourhood_group_cleansed                                              Barajas
latitude                                                                 40.47479
longitude                                                                -3.57467
room_type                                                         Entire home/apt
accommodates                                                                    2
price                                                                      $47.00
availability_365                                                              100
number_of_reviews                                                               2
review_scores_rating                                                          5.0
Name: 321, dtype: object

In [16]:
apartments.loc[apartments['id'] == 23001]

,id,listing_url,picture_url,name,description,host_id,host_since,host_is_superhost,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,room_type,accommodates,price,availability_365,number_of_reviews,review_scores_rating
2,23001,https://www.airbnb.com/rooms/23001,https://a0.muscache.com/pictures/58e6a770-509c...,Apartmento Arganzuela- Madrid Rio,"Apartamento de tres dormitorios dobles, gran s...",82175,2010-02-17,f,Legazpi,Arganzuela,40.3884,-3.69511,Entire home/apt,6,$50.00,311,0,NaN

In [17]:
apartments.iloc[931]["description"]

"3 mins to the metro station. 3 stops to city center (plaza de España, ópera). Next to Casa de campo, the biggest park of Madrid. Amusement park (parque de atracciones) 5 mins walking distance.<br /><br /><b>Guest access</b><br />You will have a big size bedroom, a confortable queen size bed(160*200). You can use the  built-in closet, there's a full length dressing mirror, a desk and a piano if you want to play some music 🎶<br /><br />There's a comfortable leather sofa in the salon and a 49 Panasonic TV, with Netflix and Amazon prime.<br /><br /><b>Other things to note</b><br />I have a small dog named Mochi, she is a bichón frisé, very friendly, curious and love to play balls. You can enjoy your stay with her companion."