In [56]:
import pandas as pd
import geopandas as gpd
import sidetable

In [41]:
neighborhoods_json = gpd.read_file('/Users/fernandoseguias/Desktop/ferseg/Proyectos/Programacion/iron_hack/project_2/data/neighborhoods.geojson')
neighborhoods_json = neighborhoods_json.rename(columns={'neighbourhood_group':'neighborhood_group', 'neighbourhood':'neighborhood'})
neighborhoods_json = neighborhoods_json.sort_values(by=['neighborhood_group', 'neighborhood'], ascending=True).reset_index(drop=True)
neighborhoods_json

,neighborhood,neighborhood_group,geometry
0,Acacias,Arganzuela,"MULTIPOLYGON (((-3.70379 40.40521, -3.70288 40..."
1,Atocha,Arganzuela,"MULTIPOLYGON (((-3.68878 40.40655, -3.68853 40..."
2,Chopera,Arganzuela,"MULTIPOLYGON (((-3.69502 40.39116, -3.69800 40..."
3,Delicias,Arganzuela,"MULTIPOLYGON (((-3.69608 40.40093, -3.69389 40..."
4,Imperial,Arganzuela,"MULTIPOLYGON (((-3.71427 40.40090, -3.71481 40..."
...,...,...,...
123,Butarque,Villaverde,"MULTIPOLYGON (((-3.65743 40.32930, -3.65747 40..."
124,Los Angeles,Villaverde,"MULTIPOLYGON (((-3.69391 40.36454, -3.69354 40..."
125,Los Rosales,Villaverde,"MULTIPOLYGON (((-3.69237 40.34593, -3.69288 40..."
126,San Andrés,Villaverde,"MULTIPOLYGON (((-3.69441 40.34567, -3.69402 40..."
127,San Cristobal,Villaverde,"MULTIPOLYGON (((-3.69169 40.33268, -3.69242 40..."

In [42]:
neighborhoods_json.dtypes

neighborhood            object
neighborhood_group      object
geometry              geometry
dtype: object

In [43]:
neighborhoods_json.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   neighborhood        128 non-null    object
 1   neighborhood_group  128 non-null    object
 2   geometry            128 non-null    geometry
dtypes: geometry(1), object(2)
memory usage: 3.1+ KB

In [50]:
neighborhoods_json.describe(include='object').T

                   count unique            top freq
neighborhood         128    128        Acacias    1
neighborhood_group   128     21  Ciudad Lineal    9

In [53]:
neighborhoods_json.duplicated().sum()

0

In [57]:
neighborhoods_json.stb.missing()

                    missing  total  percent
neighborhood              0    128      0.0
neighborhood_group        0    128      0.0
geometry                  0    128      0.0

In [58]:
neighborhoods_json["geometry"][0]

In [59]:
print(neighborhoods_json["geometry"][0])

MULTIPOLYGON (((-3.703795 40.405207, -3.702882 40.405073, -3.702462 40.405078, -3.701614 40.403955, -3.700525 40.402589, -3.699528 40.401304, -3.699246 40.401043, -3.69961 40.400549, -3.700353 40.399742, -3.70092 40.399045, -3.701466 40.398445, -3.701994 40.397948, -3.702095 40.397865, -3.702193 40.397783, -3.703156 40.396791, -3.70455 40.395244, -3.707253 40.395905, -3.708138 40.396119, -3.708695 40.396287, -3.709607 40.396562, -3.710204 40.396811, -3.710713 40.397024, -3.711296 40.397341, -3.712074 40.397901, -3.712646 40.398366, -3.713093 40.398754, -3.713357 40.398969, -3.713963 40.399356, -3.714808 40.399678, -3.714274 40.400902, -3.713123 40.403331, -3.712453 40.404758, -3.711587 40.406674, -3.711192 40.406572, -3.709823 40.40634, -3.709447 40.406287, -3.708312 40.406079, -3.706417 40.405688, -3.703795 40.405207)))